.container1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
    background-color: #000000;
    z-index: 0;
  
  
    .card {
      gap: 5rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      overflow: hidden;
      scale: 1;
      height: 100vh;
      width: 100%;
    
      .object {
        height: 550px;
        width: 500px;
        object-fit: cover;
        border-radius: 1rem;
      }
      
      .card1 {
        position: relative;
        transition: ease-in-out 0.2s;
        height: 550px;
        width: 500px;
      }
      
      .card2 {
        position: relative;
        transition: ease-in-out 0.2s;
        height: 550px;
        width: 500px;
      }
      
      .card3 {
        position: relative;
        transition: ease-in-out 0.2s;
        height: 550px;
        width: 500px;
      }
      
    }
  }
  
  
  
  
  .card1:hover {
    scale: 1.1;
    transition: ease-in-out 0.2s;
  }
  
  .card2:hover {
    scale: 1.1;
    transition: ease-in-out 0.2s;
  }
  
  .card3:hover {
    scale: 1.1;
    transition: ease-in-out 0.2s;
  }
  
  
  
  
  .cardBody1 {
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    height: 101%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #000000aa;
    backdrop-filter: blur(6px);
    transition: ease-in-out 0.2s;
    opacity: 0;
    scale: 1;
  
  
  
    .texts {
      position: relative;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      text-align: justify;
      opacity: 0;
  
  
      .forestTitle {
        position: absolute;
        color: $color_1;
        font-size: 2rem;
        display: flex;
  
        .line {
          padding-left: 13rem;
          padding-top: 12rem;
          text-align: justify;
        }
  
      }
      
      .forestText {
        display: flex;
        position: absolute;
        padding-top: 50%;
        gap: 2rem;
        width: 70%;
        padding-left: 15%;
      }
    }
  
  
  }
  
  .card1:hover .texts {
    opacity: 1;
  }
  
  .card1:hover .cardBody1 {
    opacity: 1;
    scale: 1.1;
  }
   
  
  
  .cardBody2 {
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    height: 101%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #000000aa;
    backdrop-filter: blur(6px);
    transition: ease-in-out 0.2s;
    opacity: 0;
    scale: 1;
  
  
  
    .texts {
      position: relative;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      text-align: justify;
      opacity: 0;
  
  
      .witchesTitle {
        position: absolute;
        color: $color_1;
        font-size: 2rem;
        display: flex;
  
        .line {
          padding-left: 13rem;
          padding-top: 12rem;
          text-align: justify;
        }
  
      }
      
      .witchesText {
        display: flex;
        position: absolute;
        padding-top: 50%;
        gap: 2rem;
        width: 70%;
        padding-left: 15%;
      }
    }
  
  
  }
  
  .card2:hover .texts {
    opacity: 1;
  }
  
  .card2:hover .cardBody2 {
    opacity: 1;
    scale: 1.1;
  }
   
  .cardBody3 {
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    height: 101%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #000000aa;
    backdrop-filter: blur(6px);
    transition: ease-in-out 0.2s;
    opacity: 0;
    scale: 1;
  
  
  
    .texts {
      position: relative;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      text-align: justify;
      opacity: 0;
  
  
      .diversTitle {
        position: absolute;
        color: $color_1;
        font-size: 2rem;
        display: flex;
  
        .line {
          padding-left: 13rem;
          padding-top: 12rem;
          text-align: justify;
        }
  
      }
      
      .diversText {
        display: flex;
        position: absolute;
        padding-top: 50%;
        gap: 2rem;
        width: 70%;
        padding-left: 15%;
      }
    }
  
  
  }
  
  .card3:hover .texts {
    opacity: 1;
  }
  
  .card3:hover .cardBody3 {
    opacity: 1;
    scale: 1.1;
  }
   