.navigation {
  position: fixed;
  display: flex;
  height: 15vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.25rem;
  z-index: 2;   
  

}

.navBack {
margin-top: 15vh;
position: fixed;
z-index: 1;   
height: 10rem;
width: 100%;
background: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.987) 8.1%,
    hsla(0, 0%, 0%, 0.951) 15.5%,
    hsla(0, 0%, 0%, 0.896) 22.5%,
    hsla(0, 0%, 0%, 0.825) 29%,
    hsla(0, 0%, 0%, 0.741) 35.3%,
    hsla(0, 0%, 0%, 0.648) 41.2%,
    hsla(0, 0%, 0%, 0.55) 47.1%,
    hsla(0, 0%, 0%, 0.45) 52.9%,
    hsla(0, 0%, 0%, 0.352) 58.8%,
    hsla(0, 0%, 0%, 0.259) 64.7%,
    hsla(0, 0%, 0%, 0.175) 71%,
    hsla(0, 0%, 0%, 0.104) 77.5%,
    hsla(0, 0%, 0%, 0.049) 84.5%,
    hsla(0, 0%, 0%, 0.013) 91.9%,
    hsla(0, 0%, 0%, 0) 100%
  );

}

  

.accueil,
.presentation,
.gallerie,
.contact {
  color: #9f9f9f;
}

.glitchAccueil,
.glitchPresentation,
.glitchGallerie,
.glitchContact {

  color: #000000;
  display: flex;
  justify-content: center;
  position: absolute;
}
.glitchAccueil,
.glitchPresentation,
.glitchGallerie {
    opacity: 0;
}
