.parallax_wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 50px;
            perspective: 50px;
    background-color: black;

    .intro_screen {

        @include align-center;

    }

    .outro_screen {
        height: 100vh;
        @include align-center;
        
    }
}


.backToGallery {
    height: 20vh;
    background-color: black;
    @include align-center;
}

.parallax_group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;


    .parallax_layer {
        position: absolute;
        inset: 0;
        @include align-center()
    }

    .witch1 {
        -webkit-transform: translateZ(10px) scale(0.9);
                transform: translateZ(10px) scale(0.9);
                padding-right: 10vh;
                padding-top: 50vh;

    }

    .witch3 {
        -webkit-transform: translateZ(-25px) scale(1.5);
                transform: translateZ(-25px) scale(1.5);
                padding-top: 20vh;
                
 
    }

    .witch2 {
        -webkit-transform: translateZ(-50px) scale(2);
                transform: translateZ(-50px) scale(2);
  
    }

    }
    .witches {
        -webkit-transform: translateZ(-60px) scale(2);
        transform: translateZ(-60px) scale(2);
        padding-bottom: 40rem;
        z-index: 3;
    }





#intro {
    margin-top: 200px;
    padding-bottom: 100px;
    background-color: rgb(0, 0, 0) opacify($color: #000000de, $amount: 0);
    height: 30vh;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#outro {
    margin-top: -200px;
    padding-bottom:800px;
    background-color: rgb(0, 0, 0) opacify($color: #000000de, $amount: 0);
    height: 30vh;
    -webkit-backdrop-filter: blur(70px);
            backdrop-filter: blur(70px);
}
