*
{
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    cursor: default;
}



@import 'modules/_mixins.scss'; 
@import 'modules/_glitch.scss'; 
@import 'modules/_slideshow.scss'; 
@import 'modules/_responsive';
@import 'modules/_navigation';
@import 'modules/_cards';



::-webkit-scrollbar {
    display: none;
}


body {

    height: 100vh;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 420px) {


    .navigation {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100px;
        width: 100%;
        gap: 1rem;
        font-size: 1.2rem;
        z-index: 2;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        li {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

    }

    .navBack {
        position: fixed;
        z-index: 1;   
        margin-top: 100px;
        height: 100px;
        width: 100%;
        background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(hsl(0, 0%, 0%)),
            color-stop(8.1%, hsla(0, 0%, 0%, 0.987)),
            color-stop(15.5%, hsla(0, 0%, 0%, 0.951)),
            color-stop(22.5%, hsla(0, 0%, 0%, 0.896)),
            color-stop(29%, hsla(0, 0%, 0%, 0.825)),
            color-stop(35.3%, hsla(0, 0%, 0%, 0.741)),
            color-stop(41.2%, hsla(0, 0%, 0%, 0.648)),
            color-stop(47.1%, hsla(0, 0%, 0%, 0.55)),
            color-stop(52.9%, hsla(0, 0%, 0%, 0.45)),
            color-stop(58.8%, hsla(0, 0%, 0%, 0.352)),
            color-stop(64.7%, hsla(0, 0%, 0%, 0.259)),
            color-stop(71%, hsla(0, 0%, 0%, 0.175)),
            color-stop(77.5%, hsla(0, 0%, 0%, 0.104)),
            color-stop(84.5%, hsla(0, 0%, 0%, 0.049)),
            color-stop(91.9%, hsla(0, 0%, 0%, 0.013)),
            to(hsla(0, 0%, 0%, 0))
          );
        background: -o-linear-gradient(
            top,
            hsl(0, 0%, 0%) 0%,
            hsla(0, 0%, 0%, 0.987) 8.1%,
            hsla(0, 0%, 0%, 0.951) 15.5%,
            hsla(0, 0%, 0%, 0.896) 22.5%,
            hsla(0, 0%, 0%, 0.825) 29%,
            hsla(0, 0%, 0%, 0.741) 35.3%,
            hsla(0, 0%, 0%, 0.648) 41.2%,
            hsla(0, 0%, 0%, 0.55) 47.1%,
            hsla(0, 0%, 0%, 0.45) 52.9%,
            hsla(0, 0%, 0%, 0.352) 58.8%,
            hsla(0, 0%, 0%, 0.259) 64.7%,
            hsla(0, 0%, 0%, 0.175) 71%,
            hsla(0, 0%, 0%, 0.104) 77.5%,
            hsla(0, 0%, 0%, 0.049) 84.5%,
            hsla(0, 0%, 0%, 0.013) 91.9%,
            hsla(0, 0%, 0%, 0) 100%
          );
        background: linear-gradient(
            to bottom,
            hsl(0, 0%, 0%) 0%,
            hsla(0, 0%, 0%, 0.987) 8.1%,
            hsla(0, 0%, 0%, 0.951) 15.5%,
            hsla(0, 0%, 0%, 0.896) 22.5%,
            hsla(0, 0%, 0%, 0.825) 29%,
            hsla(0, 0%, 0%, 0.741) 35.3%,
            hsla(0, 0%, 0%, 0.648) 41.2%,
            hsla(0, 0%, 0%, 0.55) 47.1%,
            hsla(0, 0%, 0%, 0.45) 52.9%,
            hsla(0, 0%, 0%, 0.352) 58.8%,
            hsla(0, 0%, 0%, 0.259) 64.7%,
            hsla(0, 0%, 0%, 0.175) 71%,
            hsla(0, 0%, 0%, 0.104) 77.5%,
            hsla(0, 0%, 0%, 0.049) 84.5%,
            hsla(0, 0%, 0%, 0.013) 91.9%,
            hsla(0, 0%, 0%, 0) 100%
          );
    }

    

    .container1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: #000000;
        z-index: 0;
      
      
        .card {
          gap: 5rem;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          scale: 1;
          width: 100%;
          overflow-y: auto;
          padding-top: 70vh;
        
          .object {
            height: 550px;
            width: 500px;
            object-fit: cover;
            border-radius: 1rem;
          }
          
          .card1 {
            position: relative;
            transition: ease-in-out 0.2s;
            height: 550px;
            width: 500px;
          }
          
          .card2 {
            position: relative;
            transition: ease-in-out 0.2s;
            height: 550px;
            width: 500px;
          }
          
          .card3 {
            position: relative;
            transition: ease-in-out 0.2s;
            height: 550px;
            width: 500px;
          }
          
        }
      }
      
      
      
      
      .card1:hover {
        scale: 1.1;
        transition: ease-in-out 0.2s;
      }
      
      .card2:hover {
        scale: 1.1;
        transition: ease-in-out 0.2s;
      }
      
      .card3:hover {
        scale: 1.1;
        transition: ease-in-out 0.2s;
      }
      
      
      
      
      .cardBody1 {
        position: absolute;
        border-radius: 0 0 1rem 1rem;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        background-color: #000000aa;
        backdrop-filter: blur(6px);
        transition: ease-in-out 0.2s;
        opacity: 0;
        scale: 1;
      
      
      
        .texts {
          position: relative;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          text-align: justify;
          opacity: 0;
      
      
          .forestTitle {
            position: absolute;
            color: $color_1;
            font-size: 2rem;
            display: flex;
      
            .line {
              padding-left: 13rem;
              padding-top: 12rem;
              text-align: justify;
            }
      
          }
          
          .forestText {
            display: flex;
            position: absolute;
            padding-top: 50%;
            gap: 2rem;
            width: 70%;
            padding-left: 15%;
          }
        }
      
      
      }
      
      .card1:hover .texts {
        opacity: 1;
      }
      
      .card1:hover .cardBody1 {
        opacity: 1;
        scale: 1.1;
      }
       
      
      
      .cardBody2 {
        position: absolute;
        border-radius: 0 0 1rem 1rem;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        background-color: #000000aa;
        backdrop-filter: blur(6px);
        transition: ease-in-out 0.2s;
        opacity: 0;
        scale: 1;
      
      
      
        .texts {
          position: relative;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          text-align: justify;
          opacity: 0;
      
      
          .witchesTitle {
            position: absolute;
            color: $color_1;
            font-size: 2rem;
            display: flex;
      
            .line {
              padding-left: 13rem;
              padding-top: 12rem;
              text-align: justify;
            }
      
          }
          
          .witchesText {
            display: flex;
            position: absolute;
            padding-top: 50%;
            gap: 2rem;
            width: 70%;
            padding-left: 15%;
          }
        }
      
      
      }
      
      .card2:hover .texts {
        opacity: 1;
      }
      
      .card2:hover .cardBody2 {
        opacity: 1;
        scale: 1.1;
      }
       
      .cardBody3 {
        position: absolute;
        border-radius: 0 0 1rem 1rem;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        background-color: #000000aa;
        backdrop-filter: blur(6px);
        transition: ease-in-out 0.2s;
        opacity: 0;
        scale: 1;
      
      
      
        .texts {
          position: relative;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          text-align: justify;
          opacity: 0;
      
      
          .diversTitle {
            position: absolute;
            color: $color_1;
            font-size: 2rem;
            display: flex;
      
            .line {
              padding-left: 13rem;
              padding-top: 12rem;
              text-align: justify;
            }
      
          }
          
          .diversText {
            display: flex;
            position: absolute;
            padding-top: 50%;
            gap: 2rem;
            width: 70%;
            padding-left: 15%;
          }
        }
      
      
      }
      
      .card3:hover .texts {
        opacity: 1;
      }
      
      .card3:hover .cardBody3 {
        opacity: 1;
        scale: 1.1;
      }
       

}